<!DOCTYPE html>
<html>
	<head>
		<title>Info Page</title>
	</head>
	<body>
		<h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
        <p>My name is Mack Angelo McQuen, and I am a Software Engineering student at Flatiron School.</p>
	</body>
</html>